

/* Make a div that is a rainbow */
.rainbow {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

/* Crop the top and bottom of the image with id baby-shark-banner */
#baby-shark-banner {
    object-fit: cover;
    height: 200px;
    width: 70%;
    object-position: center;
}